body {
  padding: 50px 0;
  margin: 0;
}
html, body {
  height: 100%;
  width: 100%;
}
#map {
  width:100%;
  height:100%;
}

.icon {
  position: absolute;
  border-radius: 50%;
  width:21px;
  height:21px;
  font-size:14px;
  text-align: center;
  vertical-align: center;
  transform: translate(-50%, -50%);
}

.navbar-nav>li>p {
  padding: 15px;
  line-height: 20px;
  color: #fff;
  margin: 0;
}
    
#timeline { 
  height: 50px; 
  overflow: hidden;
  padding-left: 60px;
}

#centermarker {
  height: 100%;
  /*background-color: #6E94FF;*/
  background-color: #fff;
  width: 1px;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.vis.timeline.root.top {
  top: -50px;
  border: none;
}
.vis.timeline .timeaxis .text {
  color: #fff;
}
.vispanel.background .timeaxis.background {
  /*background-color: #97310e;*/
}
.vis.timeline .vispanel.top {
  border: none;
}

.vispanel.center, .vispanel.background.horizontal {
  display: none;
}
